<head>
    <title>Responsive Portfolio</title>
    <!-- Google Fonts Import -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header Desighn-->
    <header class="header">
        <a href="#" class="logo">Oshada Navindra</a>

        

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
</body>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>