<!-- Home Section Start -->
<section class="home" id="home">
    <div class="home-content">
        <h3>Hi, Myself</h3>
        <h1>Oshada Navindra</h1>
        <h3>And I'm a <span>Frontend Developer</span></h3>
        <p>I'm a front-end developer with a passion for creating engaging and user-friendly web applications.</p>
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="assets/images/home-img.png" alt="home-img">
    </div>
</section>
